
<div class="container">
    <div class="row" *ngIf="cartLists.length == 0">
        <div class="col-sm-12">
            <div class="nocartpages01">
                <h2>There is no product list in these page</h2>
                <a href="javascript:void(0)" class="btn btn-primary" (click)="backtohome()">Back to home page</a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="cartLists.length >= 1">
        <div class="col-sm-12 mt-5">
            <div class="hadcartpages01">
                <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th scope="col"><p>Product Image</p></th>
                        <th scope="col"><p>Price</p></th>
                        <th scope="col"><p>Quantity</p></th>
                        <th scope="col"><p>Sub total</p></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>              
                      <tr *ngFor="let cartList of cartLists">
                        <td><img src="{{cartList.image}}" style="width: 50px;" alt="shopping"></td>
                        <td> <p>{{cartList.price}}</p></td>
                        <td>  
                            <div class="row justify-content-start">
                                <div class="col-sm-2">
                                    <button class="btn btn-primary" (click)="inc(cartList.id, cartList.qnt)">
                                        <i aria-hidden="true" class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-sm-2">
                                    <p class="card-text text-center">
                                        <strong>{{cartList.qnt}}</strong>
                                    </p>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary"  (click)="dec(cartList.id, cartList.qnt)">
                                    <i aria-hidden="true" class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>{{cartList.price * cartList.qnt}}</td>
                        <td>
                            <div class="delbtns01">
                                <i class="fa fa-trash btn btn-primary" aria-hidden="true" (click)="delete(cartList.id)"></i>
                            </div>
                        </td>
                      </tr>
                      <tr>
                          <td colspan="4"><h3 class="btn btn-primary">Total amound:- Rs {{ totalamd }}</h3></td>
                          <td><a href="javascript:void(0)" class="btn btn-primary" (click)=clearAll()>Clear All</a></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>